.table{
    margin-left: 15%;
    width: 70%;
}

/* .table td 
{
    text-align: center; 
    vertical-align: middle;
} */

.showcase{
    width: 320px;
    height: 240px;
}

.panel-body{
	padding: 10px !important;
}

img{
	width: 100%;
	height: 100%;
}

hr{
    width: 90%;
    border-color: #f5e6cc;
}

body{
    background-color: #d4d7dd;
    color: #420000;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 18px;
}

h1 {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 92px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
}
h2 {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
}

.contentZone{
  margin-top: 10px;
    width: 60%;
    padding-top: 3%;
    padding: 1%;
    margin-left: 20%;
    padding-bottom: 30px;
    background-color: #1a1c1f;
    box-shadow: 5px 5px #2a3238;
    border-radius: 10px;
}

.tablet{
  border: 16px black solid;
  border-top-width: 50px;
  border-bottom-width: 50px;
  border-radius: 36px;
}


.column {
    padding-right: 30px;
    white-space: pre-line;
    float: left;
    /* width: 50%; */
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }

  a {
    color: #3c70a4;
  }

  .playText {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);

    
  }

  .playTextString{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 89px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: #ecc175;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }


  .splashImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

  .splashImageContainer{
    position: relative;
    text-align: center;
  }