* {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', Arial, sans-serif;
}
#main {
  background-color: #F4F4F2;
}
#top {
  position: relative;
  height: 120px;
  color: #575761;
  background-color: #FFBF46;
}
#status-img {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}
#city-status {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#datetime {
  position: absolute;
  top:20px;
  left:0px;
  width: 120px;
}
#top p {
  text-align: center;
}
#city{
  font-size: 30px;
  font-weight: bold;
}
#status {
  font-size: 25px;
}
#weekday {
  font-size: 20px;
}
#date{
  font-size: 20px;
}
#time{
  font-size: 18px;
}
#summary {
  position: relative;
  width: 100%;
  height: 250px;
  color: #648381;
  background-color: #F4F4F2;
}
/* This is the only way I could vertically align text inside a float.
 * However, it looks like tables are not liked.
 * https://stackoverflow.com/questions/12168145/vertically-center-content-of-floating-div
 * https://colintoh.com/blog/display-table-anti-hero
 */
#temperature {
  display: table;
  float: left;
  width: 50%;
  height: 100%;
  transform: translate(15px, 0px);
}
#temperature p {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 70px;
}
#summary-separator {
  position: absolute;
  width: 1px;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #648381;
}
#wind-widget-container {
  position: relative;
  float: right;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
}
/* If I don't add the position:absolute attribute
 * the height of the widget collapses. No idea why.
 */
#wind-widget {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
#detail-list {
  width: 100%;
  height: 100px;
  color: #F4F4F2;
  background-color: #60606B;
}
#detail-list li {
  list-style: none;
  float: left;
  width: 33.3%;
  padding: 20px 0px;
}
/* https://stackoverflow.com/questions/114543/how-to-horizontally-center-a-div
 */
#detail-list div {
  display: table;
  margin: auto;
}
#detail-list img {
  vertical-align: middle;
}
#detail-list p {
  display: inline-block;
  vertical-align: -5px;
  font-size: 25px;
}
@media(max-width:960px) {
  #top {
    position: initial;
    height: initial;
    padding: 5px 15px;
  }
  #city-status {
    position: initial;
    top: initial;
    left: initial;
    transform: initial;
  }
  #datetime {
    position: initial;
    top: initial;
    left: initial;
    width: initial;
  }
  #top p {
    text-align: initial;
    line-height: 1.3em;
  }
  #summary {
    height: initial;
  }
  #temperature {
    display: table;
    float: initial;
    width: 100%;
    height: 170px;
  }
  #summary-separator {
    position: initial;
    width: 5%;
    height: 1px;
    top: initial;
    left: initial;
    transform: translate(950%,0%);
    background-color: grey;
  }
  #wind-widget-container {
    float: initial;
    width: 100%;
    height: 280px;
    box-sizing: border-box;
  }
  #detail-list {
    padding-left: 20px;
    box-sizing: border-box;
  }
  #detail-list li {
    float: none;
    width: initial;
  }
  #detail-list div {
    display: initial;
    margin: initial;
  }
  #detail-list {
    height: initial;
  }
}
